@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --base-color: #081b29;
    --title-color: #00abf0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #081b29;
}

body {
    background-color: gainsboro;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-size: 18px;
}

ul {
    list-style: none;
}

main {
    margin: 1rem;
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-gap: 1rem;
}

.left {
    background-color: #f0f0f0;
    box-shadow: 0 0 10px var(--base-color);
    border-radius: 10px;
}

.foto {
    position: relative;
}

.foto img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.foto h1 {
    position: absolute;
    bottom: 1.2rem;
    color: var(--base-color);
    width: 100%;
    text-align: center;
    font-size: 22px;
}

i {
    color: var(--base-color);
}

.pessoais, .habilidades, .idiomas {
    color: var(--base-color);
    padding: 1rem;
    line-height: 2rem;
}

.pessoais {
    font-size: 1.1rem;
}

.pessoais ul li {
    display: flex;
    align-items: center;
}

.pessoais ul li i {
    margin-right: 5px;
}

progress {
    width: 100%;
    height: 1.8rem;
}

.sobre, .experiencias, .educacao {
    padding: 1.5rem;
    background-color: #f0f0f0;
    box-shadow: 7px 7px 10px var(--base-color);
    border-radius: 10px;
}

.sobre p {
    margin-top: 1rem;
}

.experiencias, .educacao {
    margin-top: 1rem;
}

.trabalho, .curso {
    margin: 1.5rem 0;
}

.nome-trabalho, .nome-curso {
    font-size: 1.3rem;
    font-weight: bold;
}

.trabalho p, .educacao p {
    margin-top: 0.5rem;
    line-height: 1.5rem;
    text-align: justify;
}

.data {
    color: var(--base-color);
}

.atual {
    background-color: var(--base-color);
    color: #fff;
    padding: 0.1rem 1rem;
    border-radius: 5px;
}

footer {
    background-color: var(--base-color);
    color: #fff;
    padding: 1.5rem 0;
    text-align: center;
    line-height: 1.5rem;
}

footer p {
    color: #fff;
}

footer i {
    margin-top: 0.5rem;
    color: white;
    font-size: 32px;
}

a {
    text-decoration: none;
}

h2, h2 i,
h3, h3 i {
    color: var(--title-color);
}



@media (max-width: 880px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
    }
}